<h1>Editing edit user.js</h1>

<%= render "form", edit_user: @edit_user %>

<br>

<div>
  <%= link_to "Show this edit user.js", @edit_user %> |
  <%= link_to "Back to edit users", edit_users_path %>
</div>
