<p style="color: green"><%= notice %></p>

<h1>Edit users</h1>

<div id="edit_users">
  <% @edit_users.each do |edit_user| %>
    <%= render edit_user %>
    <p>
      <%= link_to "Show this edit user.js", edit_user %>
    </p>
  <% end %>
</div>

<%= link_to "New edit user.js", new_edit_user_path %>
