<h1>Editing system error</h1>

<%= render "form", system_error: @system_error %>

<br>

<div>
  <%= link_to "Show this system error", @system_error %> |
  <%= link_to "Back to system errors", system_errors_path %>
</div>
