<h1>Editing list user.js</h1>

<%= render "form", list_user: @list_user %>

<br>

<div>
  <%= link_to "Show this list user.js", @list_user %> |
  <%= link_to "Back to list users", list_users_path %>
</div>
