<header>
        <div>
            <table>
              <tr>
                <td width="80%"><%= image_tag('logo-manager-user.gif', alt: 'Luvina') %>
                <td>
                <td align="left"><%= link_to 'ログアウト', logout_path %> &nbsp; <%= link_to 'トップ', list_users_path %>
                <td>
                <td>
              </tr>
            </table>
          </div>
      </header>